:root {
	background-color: #242424;
}


.scrollmenu {
	width: 100%;
	display: flex;
	background-color: #333;
	overflow-y: scroll !important;
}

.dropdown-profile {
	background: rgb(0, 0, 0) !important;
	border-radius: 10px !important;
}


.movie-dropdown {
	border-radius: 20px;
	width: 700px;
	background: transparent;
}


.ant-dropdown-arrow::before {
	background: #000 !important;
}


.ant-dropdown-menu {
	background: rgb(0, 0, 0) !important;
}